.btnSignIn {
  @include button($color-background-white, inherit, $color-warning-dark);
  @include buttonHover(
    $color-warning,
    $color-background-white,
    $color-background-white
  );
}

.btnSignUp {
  @include button(
    $color-warning,
    $color-background-white,
    $color-background-white
  );
  @include buttonHover(
    $color-background-white,
    inherit,
    $color-background-white
  );
}

.btn-submit-form {
  @include button(
    $color-info,
    $color-background-white,
    $color-background-white
  );
  @include btnDrop;
  display: block;
  &:hover {
    color: $color-background-white;
  }
}

.btn-input-img {
  @include button(
    $color-info,
    $color-background-white,
    $color-background-white
  );
  @include buttonHover(
    $color-background-white,
    inherit,
    $color-background-white
  );
  cursor: pointer;
  border-radius: 4px;
}

.btn-order {
  @include button(
    $color-info,
    $color-background-white,
    none
  );
  @include buttonHover(
    $color-background-white,
    inherit,
    none
  );
  cursor: pointer;
  border-bottom-left-radius: 25% 100%;
  border-bottom-right-radius: 25% 100%;
  border-top-left-radius: 25% 100%;
  border-top-right-radius: 25% 100%;
}
.btn-readmore {
  
  @include button(
    $color-primary,
    $color-background-white,
    none
  );
  @include buttonHover(
    $color-background-white,
    inherit,
    none
  );
  border-bottom-left-radius: 25% 100%;
  border-bottom-right-radius: 25% 100%;
  border-top-left-radius: 25% 100%;
  border-top-right-radius: 25% 100%;
}

.btn-scrollTT {
  @keyframes btnstt {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  font-size: 2rem;
  color: $color-secondary-light;
  animation: btnstt 0.5s cubic-bezier(.4,.75,.86,.71);
  &:hover {
    color: $color-success;
  }
}

.btn-status {
  padding: 2px 4px;
  margin-left: 5px;
  font-weight: 700;
}

.btn-status.success {
  background-color: $color-success;
  color: $color-text-black;
}

.btn-status.pending {
  background-color: $color-error-light;
  color: $color-text-black;
}

.btn-status.failed {
  background-color: $color-error;
  color: $color-text-black;
}