.footer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  .row.container-fluid {
    padding-top: $spacing-3;
    background-color: $color-dark-light;
  }
  .footer-item {
    margin: $spacing-1 auto;
    @include zoomInHover;
    &:hover {
      .footer-link {
        color: $color-error-light;
      }
    }
    width: 30%;
  }
  .footer-link {
    transition: all.5s ease;
    color: $color-background-black;
  }

  hr {
    margin-top: $spacing-3;
  }

  .social-group {
    i {
      font-size: 2rem;
      margin: 0 $spacing-1;
    }
    a {
      @include zoomInHover;
    }

    a.face {
      &:hover {
        color: #3b5998;
      }
    }

    a.twit {
      &:hover {
        color: #1DA1F2;
      }
    }

    a.tele {
      &:hover {
        color: #0088cc;
      }
    }

    a.insta {
      &:hover {
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(
          45deg,
          #405de6,
          #5851db,
          #833ab4,
          #c13584,
          #e1306c,
          #fd1d1d
        );
      }
    }
  }
}
